@charset "UTF-8";


* {
    margin: 0;
}
header {
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 70px;
}

header > h1 {
    font-variant: small-caps;
}
html, body {
    min-height: 100vh;
    background-color: gray;
}
h1, #header, a {
    padding-top: 60px;
    text-decoration: none;
    text-align: center;
    color: white;
    

}

header a:hover {
    text-decoration: underline;
}

#joaninha, section, #folha, #final, #final2 {
    padding-left: 20px;
    font-size: 2em;
    height: 80vh;
}

#s2 {
    padding-bottom: 100px;
}

#joaninha{
    height: 100vh;
    background-image: url(imagens/background001.jpg);    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-attachment: fixed;
}

#joaninha2 {
    background-color: rgba(0, 0, 0, 0.63);
    width: 90vh;
    height: 90vh;
}

#joaninha2 {
    min-width: 400px;
    width: 50vh;
    height: 90vh;
}
#folha {
height: 100vh;
background-image: url(imagens/background002.jpg);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
color: white;
background-attachment: fixed;
}

#folha2 {
    background-color: rgba(0, 0, 0, 0.63);
    width: 90vh;
    height: 90vh;
}

#folha2 {
    min-width: 400px;
    width: 50vh;
    height: 90vh;
}
#final{
    padding-bottom: 100px;
}

#final2 {
    padding-bottom: 150px;
}
footer {
    padding-top: 10px;
    padding-bottom: 12px;
    margin-left: -20px;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
}

.rodape {
    text-decoration: none;
    font-weight: bold;
}
.rodape:hover {
    text-decoration: underline;
}